* {
  box-sizing: border-box;
}

body {
  padding: 0.5rem;
  margin: 0;
  height: 100vh;
  display: flex;
  background-color: #333;
  justify-content: center;
}

.game-board {
  height: 100%;
  width: 100%;
  background-color: white;

  display: block;
}

#line-weight-container {
  display: flex;
  position: absolute;
  top: 100px;
  border: 5px solid grey;
}

.line-container {
  display: flex;
  justify-content: center;

  background-color: whitesmoke;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 2px solid grey;
}

.line-container:hover {
  opacity: 0.7;
}
.line {
  height: 50%;
  width: 50%;
}
.one {
  border-bottom: 1px solid black;
}
.two {
  border-bottom: 2px solid black;
}
.three {
  border-bottom: 3px solid black;
}
.five {
  border-bottom: 4px solid black;
}
.six {
  border-bottom: 5px solid black;
}

#color-container {
  position: absolute;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid grey;
}

.colors {
  height: 50px;
  width: 50px;
  flex: 1;
  border: 2px solid grey;
  cursor: pointer;
  opacity: 1;
}
.colors:hover {
  opacity: 0.8;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#orange {
  background-color: orange;
}
#purple {
  background-color: purple;
}
#yellow {
  background-color: yellow;
}
#black {
  background-color: black;
}
.text-section {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  width: 170px;
}

.word {
  margin: 0;
  margin-bottom: 0.25rem;
  color: white;
  text-align: center;
  font-weight: normal;
}

.messages {
  flex-grow: 1;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.guess-form {
  display: flex;
  flex-direction: column;
}

.guess-input {
  margin: 0.25rem 0;
}

.guess-btn {
  cursor: pointer;
}

.ready-btn {
  cursor: pointer;
}

.guess-container {
  background-color: #ccc;
  border-radius: 0.25rem;
  padding: 0.4rem;
  width: 100%;
  margin-bottom: 0.25rem;
}

.guess-container > .name {
  font-weight: bold;
  font-size: 0.75rem;
  color: #555;
  word-break: break-all;
}

.guess-container > .text {
  word-break: break-all;
}

@media (max-width: 500px) {
  body {
    flex-direction: column;
  }

  .text-section {
    margin-left: 0;
    margin-top: 0.5rem;
    width: 100%;
  }
}

.hide {
  display: none !important;
}
